<!DOCTYPE html>
<html >
<head>
<title>Recommendation System</title>
<style>
body{
        background-image:url("/static/background2.jpg");
        background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
    }
</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script>  
    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet" type="text/css" />  
  
</head>

<body>
<center><h1><span style="color:powderblue"> Recommend Videos For You! </span></center></h1>
 <div class="rcm">
  {% block content %}
    {% for video_id,title in prediction_text.items() %}
		<h2 align="left"><span style="color:white"> {{ title }} </span></h2>
		<br>
        <iframe src='https://www.youtube.com/embed/{{ video_id }}' frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in- 
        picture' allowfullscreen></iframe>
    {% endfor %}
{% endblock %}	
 </div>
  
</body>
</html>